body {
    padding: 0;
    background-color: white;
}

canvas {
    opacity: 0;
}

.bungee-outline-regular {
    font-family: "Bungee Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#gridContainer {
    padding-bottom: 10px;
}

table {
    background-color: transparent;
    border-spacing: 0;
}

td {
    border: none;
    /* border-radius: 3px; */
    width: 10px;
    height: 3px;
}

button span {
    color: #757575 !important;
}


button {
    padding: .75em;
    border-radius: 5px;
    border: 1px solid #6d6d6d;   
    background-color: transparent;
    color: #757575 !important;
}


td.dead {
    background-color: transparent
}



td.live {
    /* background-color: #CC4774;
    border-radius: 10px; */
    border-radius: 10px;
    background-color:  rgb(23, 23, 23);
}

td.static {
    background-color: blue;
    border-radius: 10px;
}

#clockCanvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}