body {
    padding: 0;
    background-color: white;
}

canvas {
    opacity: 1;
    /* border: 1px solid black; */
    z-index: 9999;
    position: absolute;
    left: 10px;
    top: 10px;
}

.bungee-outline-regular {
    font-family: "Bungee Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* #gridContainer {
    position: fixed;
} */



table {
    background-color: transparent;
    border-spacing: 0;
    width: 100%;
    height: 1vw;
    max-width: 100%;
    position: fixed;
    top: 0;
    /* border: 1px solid black; */
}

td {
    border: none;
    /* border: 0.5px solid black; */
    /* border-radius: 3px; */
    /* width: auto;
    height: 0;
    padding-bottom: 0.13%; */
    /* padding-bottom: 0.13%; */
}

button span {
    color: black !important;
}


button {
    padding: .75em;
    border-radius: 0;
    border: 1px solid black;   
    margin-right: 10px;
    background-color: transparent;
    color: black !important;
    margin-bottom: 50px;
    background-color: white;
}


td.dead {
    background-color: transparent
}



td.live {
    /* background-color: #CC4774;
    border-radius: 10px; */
    border-radius: 10px;
    background-color:  rgb(23, 23, 23);
}

td.static {
    background-color: blue;
    border-radius: 10px;
}

#clockCanvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #e2e2e2;
    cursor: pointer;
    width: 99%;
    border: 2px solid black;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: black;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
    


input[type="color"] {
	-webkit-appearance: none;
	border: 1px solid black;
    background-color: white;
	width: 45px;
	height: 45px;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	border: 1px solid black;
	width: 20px;
	height: 20px;
}

input[type="checkbox"]:checked {
	background-color: black;
}

label, span, button {
    font-family: "Lato", sans-serif;
    /* font-family: "Pixelify Sans", sans-serif; */
    font-weight: 400;
    font-size: 15px;
}


#fontPicker p {
    border: 1px solid rgba(0,0,0,0.7);
    border-bottom: none;
    font-size: 24px;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0;
    vertical-align: middle;
}

#fontPicker p:hover {
    background-color: rgba(0,0,0,0.2);
}
#fontPicker {
    /* display: flex; */
    margin-top: 10px;
}
.frow {
    width: 50%;
}

.controls {
    position: relative;
    margin-top: 100vh;
    padding: 10px;
    z-index: 99999;
    width: 50%;
}

input {
    margin-right: 20px;
}

/* .controls_1 {
    display: flex;  
} */

.contr_row {
    width: 50%;
}

.controlElement {
    width: 100%;
    margin-bottom: 25px;;
}

.controlElement label, .controlElement input {
    display: block;
}

/* .controlElement input {
   
} */

.controlElement label {
    margin-bottom: 5px;
    display: inline-block;
    background-color: white;
    padding: 4px 4px;
    border: 1px dotted black;
}