body {
    padding: 0;
    background-color: white;
}

canvas {
    opacity: 1;
    border: 1px solid black;
    z-index: 9999;
    position: absolute;
    left: 10px;
    top: 10px;
}

.bungee-outline-regular {
    font-family: "Bungee Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#gridContainer {
    padding-bottom: 10px;
}

table {
    background-color: transparent;
    border-spacing: 0;
    width: 100%;
    height: 1vw;
    max-width: 100%;
    border: 1px solid black;
}

td {
    border: none;
    border: 0.5px solid black;
    /* border-radius: 3px; */
    /* width: auto;
    height: 0;
    padding-bottom: 0.13%; */
    /* padding-bottom: 0.13%; */
}

button span {
    color: #757575 !important;
}


button {
    padding: .75em;
    border-radius: 5px;
    border: 1px solid #6d6d6d;   
    background-color: transparent;
    color: #757575 !important;
}


td.dead {
    background-color: transparent
}



td.live {
    /* background-color: #CC4774;
    border-radius: 10px; */
    border-radius: 10px;
    background-color:  rgb(23, 23, 23);
}

td.static {
    background-color: blue;
    border-radius: 10px;
}

#clockCanvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #e2e2e2;
    cursor: pointer;
    width: 15rem;
  }
    
#fontPicker {
    font-size: 24px;
}

#fontPicker p {
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="color"] {
	-webkit-appearance: none;
	border: 1px solid black;
	width: 32px;
	height: 32px;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	border: 1px solid black;
	width: 20px;
	height: 20px;
}

input[type="checkbox"]:checked {
	background-color: black;
}